extends ../layout

block content
  div.creator.row
    div.col.s12
      if scenario
        h1 Editar Cenário
        input(type='hidden', name='scenario-id', id='scenario-id', value=scenario._id)
      else
        h1 Novo Cenário
      .row
        .input-field.col.s6
          input(type='text', class='validate', id='scenario-name', name='scenario-name', value=(scenario) ? scenario.name : "")
          label(for='scenario-name') Nome:
        .input-field.col.s6
          input(type='text', class='validate', id='jira-id', name='jira-id', value=(scenario) ? scenario.jiraId : "")
          label(for='jira-id') Jira ID:

      .steps
        +step-input('model', '')(class='model')
        if scenario && scenario.steps
          each step in scenario.steps
            +step-input(step.moment, step.action)
        else
          +step-input("-", "")

      .more
        .btn-floating.btn-large.waves-effec.waves-light.green.center-align
          i.material-icons.action-button.add-step add
      .actions
        .row
          a.exporter.waves-effect.waves-light.btn-large.col.s3.blue.modal-trigger(href="#jira-export", data-toggle="modal", class=(!scenario) ? "disabled" : "")  Exportar para Jira
          a.exporter.waves-effect.waves-light.btn-large.col.offset-s1.s3.blue.modal-trigger(href="#behat-export", data-toggle="modal", class=(!scenario) ? "disabled" : "") Exportar para Behat
          a#save-scenario.waves-effect.waves-light.btn-large.col.offset-s1.s4.green Salvar


  div#behat-export.modal.modal-fixed-footer
    .modal-dialog
      .modal-content
        .modal-body
          textarea.materialize-textarea#behat-export-contents

  div#jira-export.modal.modal-fixed-footer
    .modal-dialog
      .modal-content
        .modal-body
          textarea.materialize-textarea#jira-export-contents


mixin step-input(moment, action)
  .row.step&attributes(attributes)
    .input-field.col.s4
      select
        if moments
          each item in moments
            if item.en !== moment
              option(value='#{item.en}')= item.br
            else
              option(value='#{item.en}', selected)= item.br
      label Momento
    .input-field.col.s7
      input(type='text', class='validate step-action', name='step-action', value=action || "")
      label(for='step-action') Ação
    .input-field.col.s1
      if moment
        .btn-floating.btn-large.waves-effec.waves-light.red
          i.material-icons.action-button.remove-step remove
