extends ../layout

block content
  div.creator.row
    div.col.s12
      h1 Cenários

    .row
      div.col.s12.input-field
        select.filter
          option(value='') Escolha um time
          option(value='fvc') FVC
          option(value='abril') ABRIL
          option(value='just') JUST
    
        label Materialize Select

    .row
    ul.collection.with-heade
      each item in scenarios
        li.collection-item 
          span.title #{item.name}
          p #{item.jiraId}
            a.secondary-content(href='/scenario/edit/#{item._id}') editar     
