extends layout

block content
  div.creator
    h1 Novo teste comportamental
    h2 Dado que estou blablalbal
    h2 Dado que estou blablalbal
    h2 Dado que estou blablalbal
    h2 Dado que estou blablalbal
    h2 Dado que estou blablalbal
