extends layout

block content
  div.creator.row
    div.col.s12
      h1 Novo teste comportamental
      +step-input

mixin step-input
  .input-field.col.s12
    select
      option(value=given) Given
      option When
      option Then
    label Ação
