extends layout

block content
  div.creator.row
    div.col.s12
      h1 Novo Cenário
      .row
        .input-field.col.s6
          input(type='text', class='validate', id='scenario-name', name='scenario-name')
          label(for='scenario-name') Nome:
      .steps
        +step-input
      .actions
        .row
          a.waves-effect.waves-light.btn-large.col.s3.blue Exportar para Jira
          a.waves-effect.waves-light.btn-large.col.offset-s1.s3.blue Exportar para Behat
          a.waves-effect.waves-light.btn-large.col.offset-s1.s4.green Salvar

mixin step-input
  .row.step
    .input-field.col.s4
      select
        option(value='given') Given
        option(value='given') Then
        option(value='given') Shiet
      label Momento
    .input-field.col.s7
      input(type='text', class='validate', id='scenario-name', name='step-action')
      label(for='step-action') Ação
    .input-field.col.s1
      .btn-floating.btn-large.waves-effec.waves-light.green
        i.material-icons.action-button add
