doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', 
  body
    .container
      block content
    script(type='javascript', src='/js/jquery-2.1.4.min.js')
    script(type='javascript', src='/js/materialize.min.js')
