doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav
      .nav-wrapper
        a.brand-logo(href='/')
          i.large.material-icons insert_chart
        ul#nav-mobile.right.hide-on-med-and-down
          li 
            a(href="/scenario/add") Criar teste comportamental
          li
            a(href="/") Listar todos

    .container
      block content
    script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/js/materialize.min.js')
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/create.js')
